---
import ContactCard from "../components/ContactCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import {Icon} from "astro-icon/components"
---

<BaseLayout title="Contact me" description="All my contact links">
  <div class="w-fit mx-auto">
    <h1 class="text-6xl mb-2 font-bold font-display text-center">Contact me</h1>
    <div class="flex flex-col gap-4">
      <ContactCard name="Bluesky" href="https://bsky.app/profile/emmalexandria.dev" text="@emmalexandria.dev"><Icon name="ri:bluesky-fill"/></ContactCard>
      <ContactCard name="Email" href="mailto:emma.jellemabutler@gmail.com" text="emma.jellemabutler@gmail.com"><Icon name="ri:mail-fill"/></ContactCard>
      <ContactCard name="LinkedIn"href="https://www.linkedin.com/in/emma-jb/" text="emma-jb"><Icon name="ri:linkedin-fill"/></ContactCard>
      <ContactCard name="Upwork"href="https://www.upwork.com/freelancers/~01cacad3f6882a8903" text="Emma Jellema-Butler"><Icon name="fa6-brands:upwork"/></ContactCard>
    </div>
  </div>
</BaseLayout>
