---
import Logo from "../components/Logo.astro"
import { SITE_TITLE } from "../consts"
import BaseLayout from "../layouts/BaseLayout.astro"
import * as rootContent from "./indexcontent.md"
---

<BaseLayout title={`${SITE_TITLE} | Home`} description="Where I keep writing and stuff">
  <article class="w-full md:w-content mx-auto heading-center ">
    <div >
      <div class="w-32 mx-auto">
        <Logo/>
      </div>
    <h1 class="text-center mb-0 title ">This is a simple blog</h1>
      <h2 class="text-center squiggle subtitle content ">It wants to not suck.</h2>
    </div>
    <p class="text-center text-mono-400 my-0">A short manifesto about blogs and web development.</p>
    <div class="content">
      <rootContent.Content />
    </div>

  </article>
</BaseLayout>


