---
interface Props {
  href: string;
  name: string;
  text: string;
}
let {href, name, text}:Props = Astro.props
---

<a {href} target="_blank" class="block border border-duotone hover:border-duotone-hover flex flex-row items-center gap-4 px-4 py-2 rounded">
  <span class="text-3xl">
    <slot/>
  </span>
  <span class="flex flex-col">
    <p class="leading-none mb-1">
      {name}
    </p>
    <p class="leading-none text-sm italic text-mono-700 dark:text-mono-400">
      {text}
    </p>
  </span>

</a>
