---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<nav class="flex flex-row gap-4 p-8 items-center">
		<h2 class="font-display text-4xl mr-auto"><a href="/">{SITE_TITLE}</a></h2>
		<ul class="font-display flex flex-row">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</ul>
</nav>

