---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeSwitcher from './ThemeSwitcher.svelte';
import ThemeSwitch from "./ThemeSwitch.svelte"
import Logo from "../components/Logo.astro"
import Wordmark from './Wordmark.astro';
import { Icon } from 'astro-icon/components';

import {darkTheme, highContrastTheme} from "../themes"


const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const logo = pathname != "" ? true : false
---

<nav class="w-full relative flex flex-row gap-4 p-8 items-center">
  <a name="Home" class="mr-auto" href="/">
    {!logo && (
    <Wordmark/>
    )}
    {logo && (
    <div class="w-12 h-auto">
      <Logo/>
    </div>
    )}
  </a>
  <button class="block md:hidden" id="menu-toggle"><Icon name="lucide:menu"/></button>
  <ul class="px-8 md:px-0 header-items absolute top-full bg-mono-50  dark:bg-mono-950 md:bg-transparent dark:md:bg-transparent z-10 left-0 w-full md:w-fit shadow-md md:shadow-none md:static hidden md:flex font-display flex-col md:flex-row">
    <HeaderLink href="/blog">Posts</HeaderLink>
    <HeaderLink href="/contact">Contact</HeaderLink>
  </ul>
  <ThemeSwitcher>
    <ThemeSwitch title="Toggle dark mode" client:load themeName="dark">
      <Icon name="lucide:sun" slot="activeIcon"/>
      <Icon name="lucide:moon" slot="inactiveIcon"/>
    </ThemeSwitch>
    <ThemeSwitch title="Toggle high contrast" client:load themeName="high-contrast">
      <Icon name="lucide:contrast" slot="inactiveIcon"/>
      <Icon name="lucide:blend" slot="activeIcon"/>
    </ThemeSwitch>
  </ThemeSwitcher>
</nav>


<script>
import anime from "animejs/lib/anime.es"

let open = false
const toggle = document.querySelector("#menu-toggle")
const navItems = document.querySelector(".header-items")

const toggleClasses = () => {
  let addClass = open ? "flex" : "hidden"
  let removeClass = open ? "hidden" : "flex"
  navItems?.classList.add(addClass) 
  navItems?.classList.remove(removeClass)
}

const toggleOpen = () => {
  open = !open
  if(open) {
    anime({
      targets: navItems,
      top: ["50%", "100%"],
      opacity: [0, 1],
      duration: 100,
      easing: 'easeInOutCubic' 
    })
    toggleClasses()
  } else {
    anime({
      targets: navItems,
      top: ["100%", "50%"],
      opacity: [1, 0],
      duration: 100,
      easing: 'easeInOutCubic' 
    })
    setTimeout(toggleClasses, 100)
  }
}

toggle?.addEventListener("click", toggleOpen)
</script>
