---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<li class="text-mono-600 leading-none p-4 ">
  <a href={href} class:list={[className, { active: isActive }, "underline-offset-[3px] text-xl decoration-0 decoration-primary-500/0 hover:underline leading-none hover:underline-offset-2 hover:decoration-[1.5px] hover:decoration-primary-500 transition-all" ]} {...props}>
	<slot />
</a>
</li>

