---
import { Icon } from "astro-icon/components"
---

<label class="text-2xl text-primary-500 hover:text-primary-700 dark:hover:text-primary-300 cursor-pointer" >
  <button id="themeSwitcher" name="themeSwitcher" class="hidden" />
  <Icon name="lucide:sun" class="block dark:hidden"/>
  <Icon name="lucide:moon" class="hidden dark:block"/>
</label>

<script>
import { toggleTheme } from "../themes";

document.querySelector("#themeSwitcher")?.addEventListener("click", toggleTheme)


</script>



