---
import type { HeadingLevel } from '../toc'
import TocLevel from './TocLevel.astro'


type Props = {headings: HeadingLevel[]}

let {headings}: Props = Astro.props
---

{headings.length > 0 && (
<h2 class="toc-heading mb-0 mt-4">Table of Contents</h2>
<div class="toc-parent">
<ol class="my-0">

{

  headings.map((heading: HeadingLevel) => (
<TocLevel heading={heading}/> 
  ))
  }

  </ol>
</div>

)}

