---
import { SITE_TITLE } from "../consts";
---
<div >
  <h1 class="font-display text-lg  md:text-2xl my-0 leading-none ">{SITE_TITLE}</h1>
  <h2 class="font-display hidden text-sm md:block my-0">Emma Alexandria's Blog</h2>
</div>
