---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import SharedBanner from "../components/SharedBanner.svelte"

import {Icon} from "astro-icon/components"
import { SHARED_BANNER_ID } from "../consts"

interface Props {
	title: string,
	description: string,
	image?: string
}

let {title, description, image} = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
  <head>
		<BaseHead {title} {description} {image} />
  </head>
  <body class="font-body h-full flex flex-col bg-mono-50 dark:bg-mono-950 text-mono-950 dark:text-mono-50">
    <header>
      <Header />
    </header>
    <main class="px-8 grow">
      <slot/>
      <SharedBanner client:load>
        <Icon slot="icon" name="lucide:x"/>
      </SharedBanner>
    </main>
    <footer class="px-8 py-4 text-mono-700 dark:text-mono-300">
      <Footer />
    </footer>
  </body>


<svg class="w-0 h-0" aria-hidden="true">
  <defs>

    
    <filter id="squiggly-0">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="2" />
    </filter>
    <filter id="squiggly-1">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="1"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="4" />
    </filter>
    
    <filter id="squiggly-2">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="4" />
    </filter>
    <filter id="squiggly-3">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="3" />
    </filter>
    
    <filter id="squiggly-4">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="2" />
    </filter>
  </defs> </svg>
</html>

<script>
import { initHeadingLinkHandlers } from "../lib/headings";
import {  setCurrentVisited, isVisited } from "../lib/animation";

setCurrentVisited()
initHeadingLinkHandlers()

</script>
